button {
  background-color: rgb(230 230, 230);
  color: black;
  height: 40px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.is-toggled {
  background-color: black;
  color: white;
}