.calcButton {
  color: white;
  background-color: green;
  border: none;
  font-size: 20px;
  height: 50px;
  padding: 10px;
}

.total-cost {
  color: red;
  font-size: 20px;
}

.cost-input {
  height: 45px;
  font-size: 20px;
}