.total-cost-button {
  color: red;
  font-weight: 500;
  font-size: x-large;
}

.calculate-button {
  height: 45px;
  background-color: green;
  color: white;
  font-size: large;
  font-weight: 500;
  border: none;
  padding: 10px 20px;
}

.cost-input {
  height: 40px;
  font-size: large;
}