body {
  background-color: black;
}

.grey-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  background-color: rgb(53, 53, 53);
  margin-right: 4px;
  font-size: 20px;
  border: none;
}

.yellow-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  background-color: orange;
  margin-right: 4px;
  font-size: 20px;
  border: none;
}

.clear-button {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  color: white;
  font-weight: bold;
  background-color: rgb(53, 53, 53);
  margin-right: 4px;
  font-size: 15px;
  border: none;
}

.display-button {
  font-size: xx-large;
  color: white;
}