p {

  font-weight: bold;

}

.add-button {

  color: white;
  background-color: green;
  border: none;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;

}

input {

  height: 31.5px;
  margin: 3px;

}

.delete-button {

  color: white;
  background-color: red;
  border: none;
  width: 100px;
  height: 35px;
  font-size: 14px;
  font-weight: bold;

}